.form {
  display: flex;
  flex-direction: row;
  height: 301px;

  column-gap: 20px;
}
.form_bg {
  margin-top: 4rem;
  background: linear-gradient(to bottom, #da8a44 50%, white 0%);
  height: 100%;
  width: 100%;
}
.form_inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

.form_inputs input {
  width: 558px;
  vertical-align: middle;
  height: 87px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 3px solid #da8a44;
}

.form_upper {
  display: flex;
  flex-direction: row;
}

.form_textfield {
  width: 618px;
  height: 301px;
  resize: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 3px solid #da8a44;
}

.form_uppertext h1 {
  text-align: left;
  font: normal normal 800 60px/72px Inter;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #ffffff;
  margin: 0;
}

.form_uppertext h2 {
  text-align: left;

  font: normal normal 400 33px/40px Inter;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 0;
}

.form_upperbutton button {
  background: #da8a44 0% 0% no-repeat padding-box;
  border: 2px solid #ffffff;
  opacity: 1;
  width: 441px;
  height: 85px;
  text-align: center;
  font: normal normal normal 25px/30px Inter;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
}

.form_upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.form_lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.form_lower p {
  text-align: left;
  font: normal normal medium 16px/24px Inter;
  letter-spacing: 0px;
  color: #000000;
}

.form_lower button {
  text-align: center;
  font: normal normal normal 25px/30px Inter;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: 441px;
  height: 85px;
  border: none;
  background: #da8a44 0% 0% no-repeat padding-box;
  opacity: 1;
}

@media (min-width: 500px) and (max-width: 1000px) {
  .form_bg {
    background: linear-gradient(to bottom, #da8a44 85%, white 0%);
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .form_textfield {
    width: inherit;
  }
  .form_inputs {
    width: inherit;
  }
  .form {
    width: 100%;

    height: auto;
  }
  .form_inputs input {
    width: inherit;
  }
  .form_lower {
    padding-top: 3rem;
  }

  .form_upper {
    flex-direction: column;
  }
  .form_upperbutton {
    margin-inline: auto;
    padding-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  .form_bg {
    background: linear-gradient(to bottom, #da8a44 85%, white 0%);
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .form_uppertext h1 {
    font-size: 40px;
    text-align: center;
  }

  .form_uppertext h2 {
    text-align: center;
  }

  .form_textfield {
    width: inherit;
  }
  .form_inputs {
    width: inherit;
  }
  .form {
    width: 100%;
    height: auto;
  }
  .form_inputs input {
    width: inherit;
  }
  .form_lower {
    padding-top: 3rem;
  }
  .form_upper {
    flex-direction: column;
  }
  .form_upperbutton {
    margin-inline: auto;
    padding-bottom: 2rem;
  }

  .form_upperbutton button {
    width: 292px;
  }
}
