.footer_upper{
  height: 100%;
  background-color: #1F1A17;
  width: 100%;
}

.footer_upper_select{

}

.footer_upper_select a h1{
  text-align: left;
font: normal normal 800 25px/55px Inter;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;

}

.footer_upper_select a{
  text-decoration: none;
}

.upper_footer_grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.upper_footer_flexcol{
  display: flex;
  flex-direction: column;
}

.upper_footer_flexrow{
display: flex;
flex-direction: row;
}